  body {
    background-color: #0E0220;
    color: #D7FBF6;
  }

  h1 {
    color: #E40475;
  }

  h3 {
    color: #E40475;
  }

  hr {
    height: 6px;
    background-color: #0E0220;
    border-style: double;
    border-color: #48E0E4;
  }
  table {
   font-size: 1.5em;
 }
